.div_margin_top {
         margin-top: 63px;
}
                                                           
#column1{
          width:100%;
}
         
.repo-title-position {
          margin-top: 0px;
}

p.info-position {
          margin-top: 20px;
          margin-bottom: 20px;
          text-align: left;
}

p.info-position:hover {
          background-color: #ddd;
}
            
.btn-style {
           width: 100%;
           background-color: rgba(255,255,255,.15);
           border-color: #170b0b;
           color: #777;
}
.btn-style:hover, .btn-style:focus{
           color: white;
           background-color: #0d69af;
}
            
.hr-style {
           border-top: 1px solid  #bfbfbf;
                
}
            
.rounded-border {
           border-radius: 15px;
}
            
.icon-color {
           color: #595959;
                
}
 
/* hover effect */           
.segment:hover {
           background: #ddd;
           box-shadow: 8px 7px 2px 0 rgba(34, 36, 38, 0.15);
}  

.close:hover {
           color: crimson;
}


            
