.div_margin_top {
         margin-top: 63px;
}
                                       
.ui.items > .item.show_container{
          background: #f7f5f5;
          border: 1px solid #999999;
          border-radius: 1rem;
          padding: 10px 10px 10px 10px;
          margin-bottom: 30px;
}
            
.plus_button_position {
          padding-top: 6px;
          color: #999999;
          font-style: italic;
}
            
#column1{
          width:70%;
}
            
#column2 {
          width: 30%;
}
            
.scrollable {
          overflow: scroll;
             
}

